<div class="container">
 <form class="form-group ">

  <label>Name</label>
    <input class="form-control form-control-lg w-75  required mb-3 "   type="text" placeholder="Name"  >

  <label>Email Address</label>
   <input  class="form-control form-control-lg w-75  required mb-3 "    type="text" placeholder="Email Adress" >

  <label>Phone Number</label>
   <input class="form-control form-control-lg w-75  required mb-3 "  type="number" placeholder="Phone Number" >

   <label>Message</label>
   <textarea class="form-control form-control-lg w-75  required mb-3 "  type="text" placeholder="Message" ></textarea>

          <button type="button" class="btn btn-info p-4">Send</button>
</form>
</div>
